@import "tailwindcss";
@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

/* fallback to dark mode */
:root {
  color-scheme: dark;
  --crust: var(--ctp-mocha-crust);
  --mantle: var(--ctp-mocha-mantle);
  --base: var(--ctp-mocha-base);

  --surface0: var(--ctp-mocha-surface0);
  --surface1: var(--ctp-mocha-surface1);
  --surface2: var(--ctp-mocha-surface2);

  --overlay0: var(--ctp-mocha-overlay0);
  --overlay1: var(--ctp-mocha-overlay1);
  --overlay2: var(--ctp-mocha-overlay2);

  --subtext0: var(--ctp-mocha-subtext0);
  --subtext1: var(--ctp-mocha-subtext1);

  --text: var(--ctp-mocha-text);

  --lavendar: var(--ctp-mocha-lavendar);
  --blue: var(--ctp-mocha-blue);
  --sapphire: var(--ctp-mocha-sapphire);
  --sky: var(--ctp-mocha-sky);
  --teal: var(--ctp-mocha-teal);
  --green: var(--ctp-mocha-green);
  --yellow: var(--ctp-mocha-yellow);
  --peach: var(--ctp-mocha-peach);
  --maroon: var(--ctp-mocha-maroon);
  --red: var(--ctp-mocha-red);
  --mauve: var(--ctp-mocha-mauve);
  --pink: var(--ctp-mocha-pink);
  --flamingo: var(--ctp-mocha-lavendar);
  --rosewater: var(--ctp-mocha-rosewater);
}

body {
  background-color: var(--base);
  color: var(--text);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --crust: var(--ctp-latte-crust);
    --mantle: var(--ctp-latte-mantle);
    --base: var(--ctp-latte-base);

    --surface0: var(--ctp-latte-surface0);
    --surface1: var(--ctp-latte-surface1);
    --surface2: var(--ctp-latte-surface2);

    --overlay0: var(--ctp-latte-overlay0);
    --overlay1: var(--ctp-latte-overlay1);
    --overlay2: var(--ctp-latte-overlay2);

    --subtext0: var(--ctp-latte-subtext0);
    --subtext1: var(--ctp-latte-subtext1);

    --text: var(--ctp-latte-text);

    --lavendar: var(--ctp-latte-lavendar);
    --blue: var(--ctp-latte-blue);
    --sapphire: var(--ctp-latte-sapphire);
    --sky: var(--ctp-latte-sky);
    --teal: var(--ctp-latte-teal);
    --green: var(--ctp-latte-green);
    --yellow: var(--ctp-latte-yellow);
    --peach: var(--ctp-latte-peach);
    --maroon: var(--ctp-latte-maroon);
    --red: var(--ctp-latte-red);
    --mauve: var(--ctp-latte-mauve);
    --pink: var(--ctp-latte-pink);
    --flamingo: var(--ctp-latte-lavendar);
    --rosewater: var(--ctp-latte-rosewater);
  }
}

sveltekit-body {
  display: contents
}