/* @import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css'); */

@import 'tailwindcss';
@import "@catppuccin/tailwindcss/mocha.css";

@plugin '@tailwindcss/typography';

/* fallback to dark mode */
:root {
  color-scheme: dark;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}

body {
  background-color: var(--color-ctp-base);
  color: var(--color-ctp-text);
}

sveltekit-body {
  display: contents
}